.damage-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ram {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ship-damage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}